{$URL} {
	# Frontend
	reverse_proxy host.docker.internal:3000

	@backend_denied {
		path /api/* /swagger-ui/* /api-docs/*
		not path /api/v1/login /api/v1/login/* /api/v1/logout /api/v1/file/*
		not remote_ip {$LOCAL_IP}
	}
	abort @backend_denied

	# Backend
	reverse_proxy /api/* host.docker.internal:8080 #host.docker.internal:8081 # For blue/green

	# Old file serving
	reverse_proxy /sites/default/files/* host.docker.internal:8080 #host.docker.internal:8081 # For blue/green

    # Login
    reverse_proxy /oauth2/authorization/idsnucse host.docker.internal:8080 #host.docker.internal:8081 # For blue/green

	# Swagger
	reverse_proxy /swagger-ui/* host.docker.internal:8080 #host.docker.internal:8081 # For blue/green
	reverse_proxy /api-docs/* host.docker.internal:8080 #host.docker.internal:8081 # For blue/green
}