<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />

    <import class="ch.qos.logback.classic.AsyncAppender" />
    <import class="ch.qos.logback.classic.filter.ThresholdFilter" />
    <import class="ch.qos.logback.classic.PatternLayout" />
    <import class="com.cyfrania.logback.SlackAppender" />
    <import class="com.cyfrania.logback.SlackChatApi" />


    <!-- Slack Appender Config-->
    <springProperty name="SLACK_TOKEN" source="slack.token" />
    <springProperty name="SLACK_CHANNEL" source="slack.channel" />
    <property name="SLACK_LOG_PATTERN" value="\n*================================*\n*====== Backend Server LOG ======*\n*================================*\n\n${FILE_LOG_PATTERN}\n\n*--------------------------------*\n\n" />

    <appender name="SLACK" class="SlackAppender">
        <sender class="SlackChatApi">
            <token>${SLACK_TOKEN}</token>
            <channel>${SLACK_CHANNEL}</channel>
        </sender>
        <layout class="PatternLayout">
            <pattern>${SLACK_LOG_PATTERN}</pattern>
        </layout>
    </appender>

    <appender name="ASYNC_SLACK" class="AsyncAppender">
        <maxFlushTime>5000</maxFlushTime>
        <appender-ref ref="SLACK" />
        <filter class="ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>


    <!--  File appender  -->
    <springProperty name="LOG_FILE_NAME" source="customlog.file.name" />
    <springProperty name="LOG_FILE_BASE" source="customlog.file.base" />

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE_BASE}/${LOG_FILE_NAME}.log</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>${FILE_LOG_CHARSET}</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE_BASE}/${LOG_FILE_NAME}_%d{yyyy-MM-dd}.log</fileNamePattern>
            <cleanHistoryOnStart>false</cleanHistoryOnStart>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE" />
        <maxFlushTime>5000</maxFlushTime>
    </appender>



    <springProfile name="local">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="ASYNC_FILE" />
        </root>
    </springProfile>

    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="ASYNC_SLACK" />
            <appender-ref ref="ASYNC_FILE" />
        </root>
    </springProfile>

</configuration>
